<!DOCTYPE html>

<html lang = 'vi'>
	<head>
		<meta charset = 'utf-8'>
		<meta viewport = 'width:device-width;initial-scale:1;'>
		<meta description = 'McGangbang'>
		<title> Menu Site
		 </title>
		<link rel = 'stylesheet' type = 'text/css' href = 'style.css'>
	</head>
	<body>
		<nav class='horizontalMenu'>
			<a class = 'menuList' href = '/'>Home</a>
			<a class = 'menuList' href = '/about'>About</a>
			<a class = 'menuList' href = '/contribute'>Contribute</a>
		</nav>
		{{{body}}}
	</body>
</html>
