<div id = "about" class = "centerText">
<h1 class = "comicSans">Profile</h1>
<ul>
	<li><a href = "https://www.facebook.com/nguyenvan.manh.3745"><img src = "http://az616578.vo.msecnd.net/files/2016/05/09/6359836791452814361762608242_Cute-puppy-2-1.jpg"> </a>
	<li class = "comicSans">Name: Nguyen Van Manh </li>
	<li class = "comicSans">Age: 19 </li>
</ul>
</div>