<h1>Here's the statistic on question: "{{question}}"</h1>
<p>Number of yes: {{yesNumber}} </p>
<p>Nubmer of no: {{noNumber}} </p>

<form method = "post">
	<button type = "submit" name = "home">Another survey</button>
	<button type = "submit" name = "contribute">Wanna make a survey?</button>
</form>